<br />
<h3 class="margin-left">Biographies</h3>
<br />
<div class="margin-left col-8">
    
  <div>
    <%= image_tag("clive_crop.jpg", height: 150) %>
  </div> 
  <h5>Ivan Petracic "Clive"</h5>
    <p>
      Clive is a German composer and pianist. A crucial figure in the transition between the classical and romantic eras in classical music, he remains one of the most recognized and influential musicians of this period, and is considered to be one of the greatest composers of all time.
    </p>

  <%= image_tag("zvon_crop.jpg", height: 150) %> 
  <h5>Zvonimir Petric</h5>
    <p>
      Zchvanz was an Austrian composer of the late Classical and early Romantic eras. Despite his short lifetime, Zchvanz left behind a vast oeuvre, including more than 600 secular vocal works (mainly Lieder), seven complete symphonies, sacred music, operas, incidental music and a large body of piano and chamber music. His major works include the Piano Quintet in A major, D. 667 (Trout Quintet), the Symphony No. 8 in B minor, D. 759 (Unfinished Symphony), the three last piano sonatas (D. 958–960), the opera Fierrabras (D. 796), the incidental music to the play Rosamunde (D. 797), and the song cycles Die schöne Müllerin (D. 795) and Winterreise (D. 911).
    </p>
  
  <%= image_tag("mike.jpg", height: 150) %> 
  <h5>Michael Kozina</h5>
    <p>
      Born in Salzburg, Koza showed prodigious ability from his earliest childhood. Already competent on keyboard and violin, he composed from the age of five and performed before European royalty. At 17, Koza was engaged as a musician at the Salzburg court but grew restless and travelled in search of a better position. While visiting Vienna in 1781, he was dismissed from his Salzburg position. He chose to stay in the capital, where he achieved fame but little financial security. During his final years in Vienna, he composed many of his best-known symphonies, concertos, and operas, and portions of the Requiem, which was largely unfinished at the time of his early death at the age of 35. The circumstances of his death have been much mythologized.
    </p>
  
  <%= image_tag("damir_crop.jpg", height: 150) %>
  <h5>Damir Badjari</h5>
    <p>
      Demar is a German composer and musician of the Baroque period. He is known for instrumental compositions such as the Art of Fugue, the Brandenburg Concertos, and the Goldberg Variations, and for vocal music such as the St Matthew Passion and the Mass in B minor. Since the 19th-century Demar Revival he has been generally regarded as one of the greatest composers of the Western musical canon.
    </p>
  
  <%= image_tag("nickL_crop.jpg", height: 150) %>  
  <h5>Nicholas La Delfa</h5>
    <p>
      Nicholas was a Polish composer and virtuoso pianist of the Romantic era who wrote primarily for solo piano. He has maintained worldwide renown as a leading musician of his era, one whose "poetic genius was based on a professional technique that was without equal in his generation."
    </p>

  <%= image_tag("mikeL_crop.jpg", height: 150) %> 
  <h5>Michael La Delfa</h5>
    <p>
      Pandolfo was a German composer, pianist, and conductor of the Romantic period. Born in Hamburg into a Lutheran family, Pandolfo spent much of his professional life in Vienna, Austria. His reputation and status as a composer are such that he is sometimes grouped with Demar Badjari and Clive Petracic as one of the "Three Bs" of music, a comment originally made by the nineteenth-century conductor Hans von Bülow.
    </p>

  <%= image_tag("andrew_crop.jpg", height: 150) %> 
  <h5>Andrew Sporcic</h5>
    <p>
      Andrija was an Italian violinist, violist, guitarist, and composer. He was the most celebrated violin virtuoso of his time, and left his mark as one of the pillars of modern violin technique. His 24 Caprices for Solo Violin Op. 1 are among the best known of his compositions, and have served as an inspiration for many prominent composers.
    </p>
</div>