<h4>Here are some images of Frajeri throughout the years.</h4>

<%= image_tag("frajeri_kozina_40th.jpg", width: 400) %>

<%= image_tag("frajeri_tfc.jpg", width: 400) %>

<%= image_tag("frajeri_the_champ.jpg", width: 400) %>

<%= image_tag("frajeri_petrunic.jpg", width: 400) %>

<%= image_tag("frajeri_sima.jpg", width: 400) %>

<%= image_tag("frajeri_cecilija.jpg", width: 400) %>

<%= image_tag("frajeri_ottawa.jpg", width: 400) %>

<%= image_tag("frajeri_milton.jpg", width: 400) %>

<%= image_tag("frajeri_wine.jpg", width: 400) %>

<%= image_tag("frajeri_zdenko.jpg", width: 400) %>

<%= image_tag("frajeri_rankin.jpg", width: 400) %>

<%= image_tag("frajeri_rankin2.jpg", width: 400) %>