<h4>Here are some images of Frajeri throughout the years.</h4>

<div class="image image-caption margin-left">
  <%= image_tag("frajeri_kozina_40th.jpg", width: 400) %>
  <p>2007 - 40th Anniversery Party - Mississauga, ON.</p>

  <%= image_tag("frajeri_tfc.jpg", width: 400) %>
  <p>2017 - Croatia Day at Toronto FC Game - Toronto, ON.</p>

  <%= image_tag("frajeri_the_champ.jpg", width: 400) %>
  <p>2014 - Golf Tournament with UFC Heaveyweight Champion Stipe Miocic - Bolton, ON.</p>

  <%= image_tag("frajeri_petrunic.jpg", width: 400) %>
  <p>2016 - Wedding at the Liberty Grand - Toronto, ON.</p>

  <%= image_tag("frajeri_sima.jpg", width: 400) %>
  <p>2017 - Picnic featuring popular Croatian singer Sima Jovanovac - Windsor, ON.</p>

  <%= image_tag("frajeri_cecilija.jpg", width: 400) %>
  <p>2018 - Concert featuring popular Croatian singer Cecilija Rudic - Hamilton, ON.</p>

  <%= image_tag("frajeri_ottawa.jpg", width: 400) %>
  <p>2005 - Banquet - Ottawa, ON.</p>

  <%= image_tag("frajeri_milton.jpg", width: 400) %>
  <p>2006 - Picnic - Milton, ON.</p>

  <%= image_tag("frajeri_wine.jpg", width: 400) %>
  <p>2007 - Wedding - Mississauga, ON.</p>

  <%= image_tag("frajeri_zdenko.jpg", width: 400) %>
  <p>2007 - Wedding - Mississauga, ON.</p>

  <%= image_tag("frajeri_rankin.jpg", width: 400) %>
  <p>2009 - Rankin Croatian Home - Rankin, PA</p>

  <%= image_tag("frajeri_rankin2.jpg", width: 400) %>
  <p>2010 - Rankin Croatian Home - Rankin, PA</p>
</div>